# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore logs
*.log

# Ignore backup files
*.backup

# Ignore Terraform directory
.terraform/

# Ignore Terraform lock file
.terraform.lock.hcl


.terraform/

